@media (min-width: 1200px) {
    .col-lg-2 {        
        width: 20%;
    }
}
@media (max-width: 1200px) {
    .common-home #top-nav {
        height: 35px;
    }
    .common-home .btn-category {
        display: block;
    }
    .common-home #top-nav #main-nav .main-nav {
        display: none;
    }
    #top-nav #main-nav:hover .main-nav, #top-nav #main-nav .main-nav.showed {
        display: block;
    }
    .common-home .slideshow {
        margin-left: auto;
    }
    .common-home #banner0 {
        display: none;
    }    
    #top .cbutton {
        width: 80px;
    }
    .breadcrumb {
        display: none;
    }
}
@media (max-width: 767px) {  
    .cbtn-buy {
        position: fixed;
        bottom: 0;
        background: #fff;
        z-index: 999;
        width: 100%;
        height: 52px;
        margin: 0 auto;
    }
    .basic-info .cbtn-buy ul li .btn-primary {
        padding-left:27px;
        padding-right:27px;
    }   
    .main-top .container {
        padding: 0;
    }
    .filter:hover {
        
    }
    .filter:hover .select-filter {
        font-weight: bold;
    }
    .filter:hover .btn-group {
        display: block !important;
        position: absolute;
        z-index: 2;
        right: 0px;
    }
    .filter:hover .btn-group button {
        display: block;
        white-space: nowrap;
        float: none;
        margin: 0;
        width: 120px;
        text-align: left;
        border-top: 1px solid #eee;
    }
    #xs-search #search {
        margin-top: 0;
    }    
    .pushy ul.main-nav {
        display: block;
        margin: 0;
        padding: 0;
    }
    .pushy ul.main-nav li {
        display: block;       
    }    
    .pushy ul.main-nav li a {
        padding: 7px 10px;   
    }
    .pushy ul.main-nav li > a {
        
    }
    .pushy ul.main-nav li.level1 a {
        padding-left: 25px;
    }
    .pushy ul.main-nav li.level2 a {
        padding-left: 50px;
        font-weight: normal;
    }
    .pushy-open {
        width: 80% !important;;
        display: block !important;
    }
    .pushy-open .lbl-category {
        background: #66cc00;
        padding: 7px 10px;
        color: #fff;
        text-transform: uppercase;
    }
}