@-webkit-keyframes color-change {    
    0% { color: #cc0000; }
    100% { color: #33cc00; }
}
@-ms-keyframes color-change {
    0% { color: #cc0000; }
    100% { color: #33cc00; }
}
@-o-keyframes color-change {
    0% { color: #cc0000; }
    100% { color: #33cc00; }
}
@keyframes color-change {
    0% { color: #cc0000; }
    100% { color: #33cc00; }
}

html {}
body {    
    color: #313131;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;    
    line-height: 20px;
    background: #f9f9f9;
}
/* Override the bootstrap defaults */
/* Headings - Based on body font size*/
h1 {font-size: 1.714em}	/* 24px */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}	/* 14px */

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    color: #313131;
    transition: all linear .2s;
}
a:hover {
    text-decoration:underline;
    color: #000;
}
legend {
    font-size: 18px;
    padding: 7px 0px
}
label {
    font-weight: normal;
}
.required .control-label {
    font-weight: bold;
}
.required.has-error .control-label {
    color: #313131;
}
.text-danger {
    color: red;
}
.form-group {
    margin-bottom: 10px;
}
.form-control {
    height: 32px;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
    font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
    font-size: 12px;
}
.input-group .input-group-addon {
    font-size: 12px;
    height: 30px;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 0;
}
.input-group-btn > .btn + .btn {
    margin-left: 0;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
    display: inline;
}

div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}

/* content */
#main-content {
    position: relative;
}
#mask-main-content {
    position: absolute;
    top:0;
    left:0;
    background:#000;
    opacity: 0;
    z-index:1;    
}
#content {
    position: relative;
    margin-top: 15px;
}
#content h1, #content h2 {
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
}
/* footer */
footer {
    margin-top: 10px;    
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #313131;
}
footer hr {
    border-top: none;
    border-bottom: 1px solid #eee;
}
footer .newsletter {        
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 15px;
    margin-bottom: 20px;
    border:1px solid #ddd;
    background: #eee;
}
footer .newsletter .tnl {
    line-height: 30px;
    border: none;
    color: #313131;
    padding: 0 10px;
    width: 100%;
    height:30px;
}
footer .newsletter .tnl.error {    
    border: 2px solid red;
}
footer .newsletter .bnl {    
    background: #d35400;
    color: #fff;    
    text-align: center;
    padding: 4px;
    cursor: pointer;
    margin-top: 10px;
}
footer .newsletter .bnl.women {
    background: #2ecc71;
}
footer .newsletter .bnl:hover {
    background: #313131;    
    color: #fff;
}


footer .footer-link {
    
}
footer .footer-link h5 {
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}
footer .footer-link .sic {
    margin: 15px 0;
    width: 100%;
    height: 32px;
}
footer .footer-link .sic a:first-child {
    margin-left: 0;
}
footer .footer-link .sic a {
    width: 32px;
    height: 32px;
    float: left;
    margin-left: 10px;
    background: url("../images/sic.png") no-repeat left top;
    opacity: 1;
}
footer .footer-link .sic a:hover {
    transition: .3s all linear;
    opacity: .5; 
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
footer .footer-link .sic a.fb {
    background-position: 0 0;
}
footer .footer-link .sic a.tw {
    background-position: -32px 0;
}
footer .footer-link .sic a.yt {
    background-position: -64px 0;
}
footer .footer-link .bank{
    height:87px;
    background: url("../images/bank.png") no-repeat left top;
}
footer .powered {
    font-size: 0.9em;
    margin-bottom: 50px;
}
footer .powered .logo {
    background: url("../images/logo.png") no-repeat left center;
    display: inline-block;
    height: 70px;
    width: 167px;
}

/* alert */
.alert {    
    padding: 8px 14px 8px 14px;
    font-weight: bold;
    color: #313131;
}
.alert a {
    color: #cc0000;
}

.pagination {
    margin: 0;
}
/* buttons */
.buttons {
    margin: 1em 0;
    overflow: auto;
}
.btn {
    padding: 7.5px 12px;
    font-size: 12px;
    border: none;
    border-radius: 0;
    box-shadow:none;
    background: #f2f2f2;
}
.btn:hover {
    background: #ddd;
}
.btn.active {
    background: #000;
    box-shadow: none;
    color: #fff;
}
.btn.active {
    background: #000;
    box-shadow: none;
    color: #fff;
}
.btn.sort-active {
    background: #cc0000;
    box-shadow: none;
    color: #fff;
}
.btn-xs {
    font-size: 9px;
}
.btn-sm {
    font-size: 10.2px;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 12px;
}
.btn-group > .btn-xs {
    font-size: 9px;
}
.btn-group > .btn-sm {
    font-size: 10.2px;
}
.btn-group > .btn-lg {
    font-size: 15px;
}
.btn-default {
    background: #313131;
    color: #fff;
    border-radius: 0;
    border:none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background: #000 !important;
    border: none;
    color: #fff;
}

.btn-primary {
    background: #313131 !important;
    color: #fff !important;
    border-radius: 0;
    border:none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled], .open .dropdown-toggle.btn-primary {
    background: #000 !important;
    border: none;
}

.btn-warning {
    color: #ffffff;
    text-shadow: none;
    background: #faa732;
    border: none;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
    color: #ffffff;
    text-shadow: none;
    background: #da4f49;
    border: none;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
    color: #ffffff;
    text-shadow: none;
    background: #5bb75b;
    border: none;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
    color: #ffffff;
    text-shadow: none;
    background: #df5c39;
    border: none;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
.btn-link {
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #23A1D1;
    border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
}
.btn-inverse {    
    color: #ffffff;
    text-shadow: none;
    background: #363636;
    border: none;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
    background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
    border: 1px solid #DDDDDD;
    color: #888888;
    padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: #444444;
    background: #eeeeee;
    border: 1px solid #DDDDDD;
    text-shadow: 0 1px 0 #FFF;
}
/*topnav*/
#topnav
{
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    min-height: 48px;
    line-height: 48px;
    font-size: 1.2em;    
}
#topnav .div-icon {
    margin-right: 15px;
    padding-left: 30px;
}
#topnav .top-ship {
    background: url("../images/ship.png") no-repeat left center;    
}
#topnav .top-money {
    background: url("../images/money.png") no-repeat left center;    
}
#topnav .top-hotline {
    background: url("../images/hotline.png") no-repeat left center;    
}

#topnav .myaccount .dropdown > a {
    padding: 0 15px;
    display: block;
    text-decoration: none;    
}
#topnav .myaccount .dropdown > a:hover {
    color: #313131;
}
#topnav .myaccount .dropdown.open > a {
    background: #313131;
    color: #fff;
}
#topnav .myaccount .logout a {
    color: #cc0000;    
}
#topnav .dropdown-menu {
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: 1px solid #313131;
}
#topnav .dropdown-menu li > a {
    padding-top:15px;
    padding-bottom:15px;    
}
#topnav .dropdown-menu li > a:hover {
    background: #f2f2f2;
    color: #000;   
}

/*STYLE FOR HEADER*/
header {
    
}
/*FOR TOP LINE*/
header #top-line {
    height: 25px;
    line-height: 25px;
    background: #66cc00;
    color: #fff;
    font-size: 10pt;
}
#top-line ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#top-line ul li {
    float: left;
    margin: 0 10px;
}
#top-line ul li a {
    color: #fff;
}
#top-line ul li .hotline {
    padding-left: 10px;
    font-weight: bold;
    font-size: 11pt;
}
#top-line ul li.sep {
    border-left: 1px solid #70e000;
    padding-left: 20px;
}
#top-line .left {
    float: left;    
}
#top-line .right {
    float: right;    
}
.logged-menu {
    position: relative;
}
.customer-name {
    font-weight: bold;
}
.logged-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;  
    z-index: 9997;
    background: #fff;
    border: 1px solid #eee;
    right: 0;
}
.logged-menu:hover ul {
    display: block;
}
.logged-menu ul li {    
    padding: 10px;
    float: none;
}
.logged-menu ul li a {    
    display: block;    
    color: #313131 !important;
    white-space: nowrap;
    text-align: left;
}
/*END TOP LINE*/

/*FOR TOP*/
header #top {
    height: 80px;    
    position: relative;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
}
#top .clogo, #top .csearch, #top .cbutton {
    float: left;
}
#top .clogo {
    width: 340px;    
}
#top .clogo .logo {
    background: url('../images/logo.png') no-repeat center center;
    display: block;
    width: 130px;
    height: 26px;
    margin-top: 20px;
    margin-left: 10px;
}
#top .clogo .slogan {
    font-style: italic;
    color: #ccc;    
    margin-left: 10px;
}

/* FOR SEARCH BOX */
#top .csearch {
    width: 460px;
    font-size: 10pt;
    overflow: hidden;
}
#top .csearch .ckw {
    font-size: 8pt;
    color: #ccc;
}
#top .csearch a {
    color: #66cc00;
    padding: 0 5px;
}
#search {
    margin-top: 15px;
    border: 1px solid #ddd;
    background: #fff;
    width: 100%;
}
#search .stxt {
    border: none;
    height: 35px;
    padding: 0 10px;
    width: 90%;
    float: left;
}
#search .sbtn {
    color: #999;
    font-size: 15px;
    line-height: 33px;
    width: 33px;
    height: 33px;
    border: none;    
    float: right;
    background: none;
}
/*END SEARCH BOX*/

/*FOR BUTTON*/
#top .cbutton {
    width: 340px;
    float: right;
    margin-top: 10px;    
}
#top .cbutton ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#top .cbutton ul li {
    float: right;
    width: 80px;
    height: 60px;
    margin-left: 24px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
}
#top .cbutton ul li a {
    display: block;    
    padding-top: 36px;
    color: #66cc00;
    text-decoration: none;
}
#top .cbutton ul li:hover {
    background-color: #66cc00;
}
#top .cbutton ul li:hover a {
    color: #fff;
}
#top .cbutton ul li .tip {    
    background: url('../images/camnang.png') no-repeat center 5px;
}
#top .cbutton ul li .favorite {
    background: url('../images/favorite.png') no-repeat center 5px;    
}
#top .cbutton ul li .cart {
    background: url('../images/giohang.png') no-repeat center 5px;
}
#top .cbutton ul li.has-bag {
    position: relative;
}
#top .cbutton ul li.has-bag .bag {    
    background: red;
    color: #fff;
    font-weight: bold;
    min-height: 20px;
    min-width: 20px;
    text-align: center;
    padding: 0px 6px;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 10px;
}
/*END BUTTON*/

/*FOR MY CART*/
#mycart {
    
}
#mycart #mini-cart {
    display: none;
    font-size: 1em;    
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    position: absolute;
    right: 0;
    top:60px;
    min-width: 410px;
    padding: 0;    
    background: #fff;
    z-index: 1;
    border: 2px solid #ddd;
}
#mycart #mini-cart a {
    padding: 0;
    color: #313131;
}
#mycart:hover #mini-cart {
    display: block;    
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}
#mycart #mini-cart p {
    padding: 30px;
    margin: 0;
}
#mycart #mini-cart table {    
    width: 100%;
}
#mycart #mini-cart table tr td {
    border-bottom: 1px solid #eee;
    padding: 10px;
    vertical-align: top;
}
#mycart #mini-cart .fa-times-circle {
    cursor: pointer;
    color: #ccc;
    transition: all linear .3s;
}
#mycart #mini-cart .fa-times-circle:hover {
    color: #313131;
}
#mycart #mini-cart div {    
    background: #f9f9f9;    
}
#mycart #mini-cart .c-cart-btn {
    padding: 10px;
    background: #f9f9f9;
}
#mycart #mini-cart .c-cart-btn a {
    display: block;
    text-decoration: none;    
    background: #313131;    
    color: #fff;    
    padding: 10px 0;
}
#mycart #mini-cart .c-cart-btn a:hover {
    background: #000;
}
/*END CART*/
/*END FOR HEADER*/

#top-nav {
    background: #f4f4f4;
    height: 35px;
}
#top-nav #main-nav {
    position: relative;
    width: 220px;
}
#top-nav #main-nav .btn-category {
    background: url('../images/bg-category.png') no-repeat left center;
    padding-left: 40px;
    font-size: 10pt;
    text-transform: uppercase;
    color: #fff;
    line-height: 35px;
    height: 35px;
    font-weight: bold;
    cursor: pointer;
    width: 220px;
}
#top-nav #main-nav:hover .btn-category {
    color: #66cc00;
}
#top-nav #main-nav:hover .main-nav, #top-nav #main-nav .main-nav.showed {
    display: block;
}
.common-home #top-nav {
    height: 0;
}
.common-home .btn-category {
    display: none;
}
.common-home #top-nav #main-nav .main-nav {
    display: block;
}
.common-home .slideshow {
    margin-left: 200px;
}
#main-nav ul.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    width: 200px;    
    display: none;
    background: #fff;
    z-index: 999;
}
#main-nav ul.main-nav > li {
    background: #fff url('../images/arrow-right.png') no-repeat right center;
    border-style: solid;
    border-color: #eee;
    border-width: 0 1px 1px;
}
#main-nav ul.main-nav > li:hover {
    border-right: 1px solid #fff;
    background-image: none;
}
#main-nav ul.main-nav > li:last-child {
    border-bottom-width: 8px;
}
#main-nav ul.main-nav > li a {
    padding: 14px 10px 14px 40px;
    display: block;
    position: relative;
}
/*Thoi Trang Nu*/
#main-nav ul.main-nav li a#nav-59 {
    background: url('../images/ttn.png') no-repeat 10px center;
}
/*Thoi Trang Nam*/
#main-nav ul.main-nav li a#nav-20 {
    background: url('../images/ttnam.png') no-repeat 10px center;
}
/*Do Gia Dung*/
#main-nav ul.main-nav li a#nav-62 {
    background: url('../images/dogiadung.png') no-repeat 10px center;
}
/*Thuc Pham*/
#main-nav ul.main-nav li a#nav-115 {
    background: url('../images/thucpham.png') no-repeat 10px center;
}
/*My Pham*/
#main-nav ul.main-nav li a#nav-116 {
    background: url('../images/mypham.png') no-repeat 10px center;
}
/*Dien thoai*/
#main-nav ul.main-nav li a#nav-117 {
    background: url('../images/dienthoai.png') no-repeat 10px center;
}
/*May Vi Tinh*/
#main-nav ul.main-nav li a#nav-118 {
    background: url('../images/maytinh.png') no-repeat 10px center;
}

#main-nav ul.main-nav li .subnav {
    display: none;
    position: absolute;
    left: 200px;
    top: 0px;
    width: 940px;
    min-height: 400px;
    background: #fff;    
    border-left-width: 0;    
}
#main-nav ul.main-nav li:hover .subnav {
    display: block;
}
#main-nav .subnav .extend-pic {
    right: 0;
    bottom: 0;
    min-height: 350px;
    min-width: 150px;
    background-position: right bottom;
    background-repeat: no-repeat;
    position: absolute;
}
#main-nav .subnav ul {
    display: table-cell;
    padding: 20px 20px;
}
#main-nav .subnav ul li {
    margin: 0 10px;
    border-bottom: 1px solid #eee;
}
#main-nav .subnav ul li:last-child {
    border-bottom-width: 0;
}
#main-nav .subnav ul li a {    
    display: block;
    padding: 5px 0;    
    clear: both;    
    color: #313131;
    white-space: nowrap;
}

#main-nav .subnav ul > li.level1 a {
    font-weight: bold;
}

.result-filter {
    line-height: 26px;
}
.result-filter .btn {
    margin-right: 10px;
}


.fb-page > span {
    width: 212px !important;
    overflow: hidden !important;
    border: 1px solid #f2f2f2;
}


/* FOR CAROUSEL COMMON*/
.carousel {
    background: #fff;
    border: 1px solid #eee;
    padding: 10px 0;
    margin-top: 15px;
}
.carousel .name {
    padding: 0 10px 10px;
    font-weight: bold;
    color: #868686;
}

/*FOR CAROUSEL SUGGESTION*/
.carousel-suggestion {
    margin-bottom: 30px;   
}
.carousel-suggestion .bx-viewport {
    
}
/* FOR PRODUCT LIST */
.product-thumb {
    border: 1px solid #f9f9f9;
    border-bottom-width: 2px;
    margin-bottom: 20px;
    transition: all linear .2s;    
    position: relative;
    background: #fff;    
/*    min-height: 332px;*/
}
li.product-thumb {
    margin-right: 5px;
}
.bxslider .product-thumb {
    border: none;
}
.product-thumb:hover {
/*    border-color: #999;
    box-shadow: 0 0 5px #999;*/
}
.product-thumb .image {    
    position: relative;
/*    min-height: 251px;    */
    overflow: hidden;
}
.product-thumb .image a img {
    display: block;
    margin: 0 auto;
}
.product-thumb .image .prd-btn-buy, .product-thumb .image .prd-btn-others, .product-thumb .image .prd-viewed {
    display: none;        
    position: absolute;
}

.product-thumb:hover .image a img {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
    opacity: 0.5;
    transition: all linear .2s;
}
.product-thumb:hover .image .prd-btn-buy, .product-thumb:hover .image .prd-btn-others, .product-thumb:hover .image .prd-viewed {    
    display: block;
    cursor: pointer;
}
.product-thumb:hover .image .prd-btn-buy {    
    width:100px;    
    line-height: 40px;
    height: 40px;
    background: #313131;
    border-radius: 3px;
    color: #fff;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
    font-weight: bold;
    transition: background linear .3s;
}
.product-thumb:hover .image .prd-btn-buy:hover {
    background: #2ecc71;    
}
.product-thumb:hover .image .prd-btn-others {    
    display: block;
    top: 5px;
    right: 5px;
}
.prd-btn-others i {    
    background: #fff;
    border-radius: 100%;
    padding: 5px;    
}
.prd-btn-others i.favorite {
    border: 1px solid #d35400;
    color: #d35400;
}
.prd-btn-others i.compare {
    border: 1px solid #2ecc71;
    color: #2ecc71;
}
.product-thumb:hover .image .prd-viewed {
    bottom: 5px;
    right: 5px;
}
.product-thumb:hover .image .prd-viewed span {
    color: #000;
}

/*For Mobile*/
.thumbnails {
    overflow: auto;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.thumbnails .thumbnail {
    border: 0 !important;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 70px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}
/*For Mobile*/

.product-grid .product-thumb .image {
    float: none;
}

.product-thumb .button-group {
    border-top: 1px solid #ddd;    
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 0px;    
}
.product-thumb .orderred, .product-thumb .viewed {
    color: #999;
    float: right;
    margin-left: 5px;
}

.product-list .product-thumb .button-group {
    border-left: 1px solid #ddd;
}
.product-list .product-thumb {
    min-height: 305px;
}
.product-list .product-thumb .image {
    float: left;
    padding: 0;
}
.product-grid .product-thumb .desc {
    display: none;
    visibility: hidden;
}

.product-thumb .button-group button {
    width: 60%;
    border: none;
    display: inline-block;
    float: left;    
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #666;
    background-color: #eee;
}
.product-thumb:hover > .button-group button {
    background: #313131;  
    transition: all linear .2s;
    color: #ccc;    
}

.product-thumb .button-group button + button {
    width: 20%;
    
}
.product-thumb .button-group button:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*product rating*/
.product-thumb .rating {
    margin:3px 0;
}
.fa-stack {
    font-size: 6px;
}
.fa-star, .fa-star-o, .fa-star + .fa-star-o {
    color: #FC0;
    font-size: 12px;
}

/*caption*/
.product-thumb .caption {
    padding: 4px 8px;
}
.product-thumb .caption h4 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-list .product-thumb .caption {
    margin-left: 230px;
}

/*Price*/
.product-thumb .price {    
    margin: 3px 0;
    color: #cc0000;
    font-size: 1.2em;
}
.product-thumb .price-new {    
/*    display: block;    */
}
.product-thumb .price-old {
    color: #999;
    font-size: 0.7em;
    text-decoration: line-through;
/*    padding-left: 15px;*/
    float: right;
}
.product-thumb .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
}
.product-thumb .saleoff {
    position: absolute;
    top:-6px;    
    display: block;
    width:50px;
    height:51px;
    background: url("../images/saleoff.png") no-repeat left top;
    color: #fff;
    font-size: 14px;
    padding-top:20px;
    font-weight: bold;
    text-align: center;
    color: #ff0;
}

/*heading-title*/
.heading-title {
    border-bottom: 1px dashed #ddd;
    margin: 20px 0;
    line-height: 30px;
/*    background: url("../images/cart.png") no-repeat left center;
    padding-left: 20px;*/
}
.heading-title span {
    display: inline-block;
    min-width: 213px;
    padding: 0 15px 0 0;    
    color: #313131;
    text-transform: uppercase;
    font-size: 14pt;
}
.heading-title .goto {
    float: right;
}
.heading-title .goto span{
    min-width: 0;
    padding-right: 0;
    padding-left: 20px;
}

/* breadcrumb */
.breadcrumb {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    border-radius: 0;
    position: absolute;
    top: -28px;
    margin-left: 220px;
}
.breadcrumb i {
    font-size: 15px;
}
.breadcrumb > li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
}
.breadcrumb > li + li:before {
    content: '';
    padding: 0;
}
.breadcrumb > li:after {   
    content: '';
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;    
    display: block;    
    position: absolute;
    right: -5px;
    top: 5px;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.breadcrumb li:last-child:after {
    border:0;
}
.breadcrumb .has-sub:hover > a {
    text-decoration: underline;
}
.breadcrumb .has-sub:hover .dropdown-menu {
    display: block;
    border-radius: 0;
    margin: 0;
    left: 18px;
    box-shadow: none;
}

.basic-info {
    
}
.prd-media-box .prd-image {
    margin-bottom: 20px;
    padding: 0;
    display: block;
    border: 1px solid #ccc;
}
.prd-media-box .prd-image a {
    display: block;
}
.prd-media-box .prd-image #prd-single-image {
    max-width: 305px;
}
.prd-media-box .prd-image img#prd-single-image {
    max-width: 374px;
    display: block;
}
.prd-media-box .prd-more-image {
    padding-right: 0;
}
.prd-media-box .prd-more-image a {
    margin-bottom: 10px;
    padding: 0px;
    display: block;        
}
.prd-media-box .prd-more-image img {    
    border: 1px solid #eee;
    width: 50px;
    height: 50px;
    display: block;
}
.prd-media-box .prd-more-image .active img {
    border:1px solid #999;
}

.basic-info hr {
    border-style: dashed;
    margin: 10px 0;
}
.basic-info h3 {
    margin-top: 10px;
}
.basic-info h1 {
    margin-top: 0;
}
.basic-info .viewed {
    font-size: 0.8em;
    border-bottom: 1px dashed #eee;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.basic-info .viewed span {
    font-weight: bold;
}
.basic-info .viewed .fb-like {
    margin-left: 15px;
}
.basic-info .radio.image {
    padding:0px;
    float: left;
    margin: 0;
    margin-right: 5px;
}
.basic-info .radio.image .img-thumbnail {
    border: 2px solid #ddd;
    padding:1px;
    border-radius: 0 !important;
}
.basic-info .radio.image .img-thumbnail.selected {
    border: 2px solid red;
}


.basic-info .radio.border {
    padding:0px;
    float: left;
    margin: 0;
    margin-right: 5px;
}
.basic-info .radio.border input {
    display: none;
}
.basic-info .radio.border label.selected {
    border: 2px solid red;
}
.basic-info .radio.border label {
    border: 2px solid #ddd;
    padding:1px 10px;
    color: #313131 !important;
}

.basic-info .addto-box {
    
}
.basic-info .addto-box button {    
    padding: 5px 10px;
    margin-right: 5px;    
    margin-bottom:15px;
    display: block;
    width: 100%;
    text-align: left;
}
.basic-info .addto-box button:hover {
    background: #313131;
    color: #fff;
    border-color: #313131;
}
.basic-info .price {    
    margin: 3px 0;
    color: #cc0000;
    font-size: 2.2em;    
}
.basic-info .price-new {
    display: block;  
    margin-top: 15px;
}
.basic-info .price-old {
    color: #999;
    font-size: .5em;
}
.basic-info .price-old .saleoff {
    color: green;
    font-weight: bold;
}

.basic-info .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
}
.basic-info .quantity {    
    height: 40px;    
    line-height: 40px;
}
.basic-info .quantity ul li {
    float: left;
    margin-right: 20px;
}
.basic-info .quantity ul li #input-quantity{
    height: 30px;
    border-radius: 0;
    padding-left:5px;
    padding-right:5px;
    width: 60px;    
    border: 1px solid #ccc;
    font-weight: bold;
    display: inline-block;
}
.basic-info .btn-step {
    height: 30px;
    cursor: pointer;
    color: #999;
}
.basic-info .btn-step:hover {
    color: #313131;
}
.basic-info .cbtn-buy ul li {
    float: left;
    margin-right: 6px;    
}
.basic-info .cbtn-buy ul li .btn-primary {    
    background: #313131;
    color: #fff;
    border-radius: 0;
    border: none !important;
    height: 52px;    
}
.basic-info .cbtn-buy ul li #button-cart.btn-primary {
    background: green !important;
}
.basic-info .cbtn-buy ul li #button-cart-checkout.btn-primary {
    background: #cc0000 !important;
}
.basic-info .cbtn-buy ul li #button-cart.btn-primary:hover, .basic-info .cbtn-buy ul li #button-cart-checkout.btn-primary:hover {    
    background: #000 !important;
}

.more-info {
    margin-top: 20px;
    min-height: 300px;
}
#tab-description img, #tab-review img, #tab-faq img{
    max-width: 100%;
}

/*Social & Support*/
.social-sec {
    position: fixed;
    right: 10px;
    top: 190px;    
}

/*STYLE FOR BANNER*/
/*Top Banner*/
.banner {
    
}
.banner ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
.banner ul li {
    float: left;
}
/*Banner Left*/
#column-left .banner {
/*    border: 1px solid #ddd;*/
    margin-bottom: 20px;
}
#column-left .banner ul {
    margin-bottom: 0;
}
#column-left .banner ul li {
    margin-top: 5px;
}
#column-left .banner ul li:first-child {
    margin-top: 0;
}

/*Category*/
.cat-heading {
    position: relative;
    line-height: 32px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #eee;
}
#content .cat-heading h2 {
    border: none;
    margin: 0;
    padding: 0;
    float: left;
}
.cat-heading .items-layout .btn-group .btn {
    margin-right: 5px;
}
.cat-heading .compare-price {
    padding-left: 0;
}
.cat-heading .items-layout {
    padding-right: 0;
}
.cat-heading .compare-price a {
    display: block;
    text-align: center;
    background: #eee;
}
.filter {
    margin: 0;
}
.filter .btn-group .btn {
    margin-left: 10px;
}

.empty-data {
    margin: 15px 0;
}

.subcat-list {
    margin: 15px 0;
    border: 1px solid #eee;
    background: #fff;
}
.subcat-list ul {
    margin:  0;
    padding: 0;
}
.subcat-list ul li {    
    float: left;    
    text-align: center;
}
.subcat-list ul li:last-child {
    margin-left: 0;
}
.subcat-list ul li img {
    max-width: 100%;
}

.category-info .img-thumbnail {
    padding:0;
    border: 0;
}

/*Live Support*/
.live-support {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.tags {
    border-top:1px dashed #eee;
    padding-top: 15px;
}
.tags a {
    border:1px solid #eee;
    padding:1px 5px;
    border-radius: 5px;
    background: #fff;
}

.nav-tabs {
    margin-bottom: 15px;
    border-bottom-color: #313131;
    border-bottom-width: 2px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: #313131 #313131 transparent;    
    background: #313131;
    color: #fff;
}
.table-bordered thead td {
    background: #f2f2f2;
}
.table-bordered tbody td {
    background: #fff;
}


.style-common {
    
}
.style-common a {
    color: #428bca;
}

/*Cart Info in checkout page*/
.order-list .ptitle {
    font-weight: bold;
}
.wa-mask {
    position: absolute;
    top:0;
    left:0;
    z-index: 9998;
    width: 100%;
    background: #fff;
    opacity: 0.7;
}
.wa-loading {
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -12px;
    margin-top: -12px;
    z-index: 9999;
    opacity: 1;
}
#cart-info, #cart-ci-main {
    position: relative;
}
#cart-info .input-group {
    line-height: 20px;
}
#cart-info .txt-quantity{
    width: 40px;
    height: 22px;
    margin-right: 5px;    
    text-align: center;
    padding:0px;
}
#cart-info .cart-update {
    text-align: center;   
}
#cart-info .cart-update a {
    color: #18599d;    
}
table.order-total tr td.total, #cart-info .product-price {    
    color: #33cc00;
}
#cart-info .product-price {
    font-weight: bold;
}
table.order-total tr td.method {
    text-align: right;
}
table.order-total tr td {
    vertical-align: middle;
    line-height: none;
}
table.order-total tr td.total {
    font-size: 1.5em;
    text-align: right;
}
table.order-total tr td.fee {
/*    font-size: 1.2em;*/
}

.fc-color{
    -webkit-animation: color-change 1s 2;
    -moz-animation: color-change 1s 2;
    -o-animation: color-change 1s 2;
    -ms-animation: color-change 1s 2;
    animation: color-change 1s 2;
}

/*Register Account*/
.register-account {
    
}
.register-account a {
    color: #0033ff;
}
.register-account .btn-register{
    width: 290px;
    max-width: 100%;    
    font-weight: bold;
}
.register-account .col-account {
    min-height: 468px;
}

/*FOR MODAL*/
.modal-title {
    text-transform: uppercase;
}

/*FOR CHECKOUT*/
.checkout-option {
    padding-bottom:30px;
}

.checkout-group {
    
}
.checkout-group .cg-heading {
    text-transform: uppercase;
}
.checkout-group .cg-content {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}
.checkout-group .cg-content textarea[name=comment] {
    height: 60px;
    resize: none;
}
/*AGREE SECTION*/
.agree-sec {
    
}
.agree-sec .as-desc, .agree-sec .as-desc a{
    font-size: 0.9em;
    color: #999;
}
.agree-sec .as-desc {
    margin-top: 10px;
}
.agree-sec .as-btn {
    font-size: 0.9em;
}
.agree-sec .as-btn .btn-primary {
    display: block;
    width: 100%;
    height: 58px;
    font-size: 18pt;
}

/*FOR PRODUCT RECENT*/
.prd-recent {
    position: fixed;
    left: 10px;
    top:60px;
    width: 140px;
    background: #fff;
    border: 1px solid #eee;
}
.prd-recent .heading-title {
    margin: 0 0 0 10px;    
    line-height: 20px;
}
.prd-recent .heading-title span {
    font-size: 10px;
    min-width: 100%;
    padding-right: 0;
}
.prd-recent .pr-content {
    position: relative;
    background: #fff;
}
.prd-recent ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.prd-recent ul li {
    float: left;
    width: 50%;
    text-align: center;
    background: #fff;
    padding: 10px;
}
.prd-recent ul li:first-child {
    margin-left: 0;
}
.prd-recent ul li img{
    max-width: 100%;
}
.prd-recent ul li .pr-caption .pr-title{
    display: none;
    font-size: 1em;
    font-weight: 400;    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*SPECIFIC FOR HOMEPAGE*/
.common-home .prd-recent {
    position: static;
    left: 10px;
    top:60px;
    width: auto;
    background: none;
    border: none;
    margin-bottom: 20px;
}
.common-home .prd-recent .heading-title {    
    margin: 20px 0 0 0;    
}
.common-home .prd-recent .heading-title span {        
    font-size: 14pt;
    min-width: 213px;
    padding: 0 15px 0 0;
    text-transform: uppercase;
}
.prd-recent .pr-content {    
    background: #fff;
    padding: 10px 0;
}
.common-home .prd-recent ul li {
    background: #fff;
    float: left;
    margin-left: 15px;
    padding: 10px 5px;
    text-align: center;
    width: 11%;
}
.common-home .prd-recent ul li img{
    max-width: 100%;
}
.common-home .prd-recent ul li .pr-caption .pr-title {
    display: block;
}

#nav-controller {
    background: #f7f7f7;
    line-height: 44px;
    height: 44px;
    font-size: 16pt;
}
#nav-controller .touch-menu, #nav-controller .touch-logo {
    float: left;    
}
#nav-controller .touch-cart, #nav-controller .touch-search, #nav-controller .touch-user {
    float: right;
}
#nav-controller .touch-menu, #nav-controller .touch-cart, #nav-controller .touch-search, #nav-controller .touch-user {
    width: 44px;
    text-align: center;
}
#nav-controller .touch-logo {
    background: url('../images/logo.png') no-repeat left center;    
    height: 44px;
    width: 130px;
}
#nav-controller .touch-logo a {
    display: block;
    height: 44px;
    width: 130px;
}
#nav-controller .touch-user .logged-menu a {
    font-size: 12pt;
    line-height: 30px;
}