@media (min-width: 1000px) {
    .container {
        width: 970px;
    }
    #menu .open > .dropdown-menu {
        display: none;    
    }
}

@media (min-width: 768px) {
    #menu .dropdown:hover .dropdown-menu {
        display: block;
    }
}
@media (max-width: 767px) {
    .intro .slideshow {
        padding-right:0;
    }
    .intro .flexslider {        
        margin-right: 15px;
    }
    header .con-search, header .con-cart {
        padding-left: 15px;
    }
    #search {
        padding: 0;
        margin-top: 15px;
    }
    
    #cart .dropdown-menu {
        right:0;
        max-width: 80%;
    }
    #cart.open > .dropdown-menu {
        width: 100%;
        max-width: 100%;
        position: relative;
        margin-top: 0;
    }
    
    #menu div.dropdown-inner > ul.list-unstyled {
        display: block;
    }
    #menu div.dropdown-menu {
        margin-left: 0 !important;
        background: #fff !important;
    }
    
    #menu .has-extend-pic .dropdown-menu {
        min-height: 0;
        padding: 0;
    }
    #menu .has-extend-pic .dropdown-menu .extend-pic {
        display: none;        
    }
    
    #menu .dropdown-inner {
        display: block;
    }
    #menu .dropdown-inner a {
        width: 100%;        
    }    
    #menu a.see-all {
        position: static;
        background: #fff;
        color: #313131;
        border-top: 1px solid #ccc;
        padding: 10px 20px;
    }
    
    .product-list .product-thumb .caption {
        min-height: 0;
        margin-left: 0;
        padding: 0 10px;
    }
    .product-grid .product-thumb .caption {
        min-height: 0;
    }
    
    .product-list .product-thumb .button-group {
        border-left: none;
    }
    
    .cat-heading .items-layout .btn-group .btn {
        margin-right: 5px;
    }
    .cat-heading .compare-price {
        padding: 15px;
    }
    .cat-heading .items-layout {
        padding-right: 10px;
    }
    
    .filter {        
        margin-bottom: 0;
    }
    .filter .btn-group .btn {
        margin-bottom: 10px;
    }
}